.App {
  margin: 0;
  background-color: #393e41;
  height: 100vh;
}
.menu {
  background-color: #e94f37;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
.titleMenu {
  color: #f6f7eb;
  font-size: 20pt;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -0.03em;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
